html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

body {
    background-image: url("Bilder/salong.WebP");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    flex: 1;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#index-footer {
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    font-size: small;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: auto;
}


#index-footer a {
    color: darkorange;
    text-decoration: none;
    font-weight: bold;
    font-size: medium;
    display: block;
    margin-top: 5px;
}

#index-footer a:hover {
    color: orangered;

}

#index-footer p {
    color: burlywood;
    font-weight: bold;
    margin-top: 10px;
}

.tonad-textcontainer {

    background-color: rgba(0, 0, 0, 0.5);
    padding: 30px;
    margin: 20px;
    border-radius: 10px;
    color: burlywood;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    display: block;
    width: 80%;
    max-width: 350px;
    margin-bottom: 100px;
    text-align: center;
}

#navbar-container {
    min-height: 80px;
}


