.navbar-fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar-nav .nav-link {
    color: #ffffff;

    font-weight: bold;
}


.navbar-nav .nav-link:hover {
    color: #ff0000;

}


.navbar-toggler-icon {
    background-image: url('data:image/svg+xml;charset=UTF8,<svg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg" fill="white"><path stroke="rgba(255, 255, 255, 1)" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/></svg>');
}

.navbar {
    padding: var(--bs-navbar-padding-y) var(--bs-navbar-padding-x);
    height: 60px;
    font-size: 16px;
    text-align: center;
    display: flex;
    align-items: center;

}

.logo-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
    font-size: var(--bs-navbar-brand-font-size);
    padding-top: var(--bs-navbar-brand-padding-y);
    padding-bottom: var(--bs-navbar-brand-padding-y);
    font-weight: bold;
    color: #ffffff;
    
}

.btn-outline-success {
    color: #ffffff;
    background-color: #28a745;
    border-color: #28a745;
    margin-right: 40px;
}

body {
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

.navbar-collapse {
    background-color: var(--bs-dark);
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
}

#search-field {
    width: 200px;
    margin: 0 20%;
}